<footer>
    <a href="/">チノ Bot</a> © <code>Copyright 2022 OI-Master Studio</code><br>
    <code><%= process.platform + ' (' + process.arch + ')' %>, <%= cpu %></code><br>
    <code><%= currTime %></code>
</footer>
</div>
</body>
</html>
