<% title = '登录' %>
<%- include('header') %>
<form action="/login" method="POST">
    用户名：<input type="text" name="username" placeholder="oimaster"><br>
    密码：<input type="password" name="password" placeholder="********"><br>
    <input type="submit" value="登录">
</form>
<%- include('footer') %>
