div.container {
    margin-top: 5px;
    margin-left: calc(10% - 7px);
    margin-right: calc(10% - 7px);

    zoom: 150%;
    /* user-select: none;
    -webkit-user-select: none; */
}

/* body {
    background-color: #fffdee;
} */